<!DOCTYPE html>
<html>
<head>
	<title>{{serverName}} - WU MapGen</title>
	<meta charset="utf-8"/>
	<base href="/wurm-livemap-doriath/">
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>

	<!-- Injection sécurisée du style Leaflet pour éviter le blocage du traducteur -->
	<script>
		(function() {
			var host = 'cdnjs.' + 'cloudflare.com';
			var l = document.createElement('link');
			l.rel = 'stylesheet';
			l.crossOrigin = 'anonymous';
			l.href = ['https:/', host, 'ajax', 'libs', 'leaflet', '1.2.0', 'leaflet.css'].join('/');
			document.head.appendChild(l);
		})();
	</script>
	<link rel="stylesheet" href="https://googleapis.com">
	<link rel="stylesheet" href="dist/Leaflet.Coordinates-0.1.5.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body data-realtime="{{enableRealtimeMarkers}}">

<div id="gui" :class="{sidebar: sidebarVisible}">
	<a id="sidebar-toggle" class="absolute transition z-gui" @click="sidebarVisible = !sidebarVisible">≡</a>
	<div id="sidebar" class="absolute transition z-gui" :class="{loaded: loaded}">
		<div class="block padding">
			<h1>{{serverName}}</h1>
			{{#enableRealtimeMarkers}}
			<div id="playercount" v-text="playerCountLabel"></div>
			{{/enableRealtimeMarkers}}
		</div>

		{{#enableRealtimeMarkers}}
			{{#showPlayers}}
			<div class="block">
				<label for="option-show-players" class="flex">
					<input type="checkbox" class="transition" id="option-show-players" v-model="showPlayers">
					<span>Show players</span>
				</label>
			</div>
			{{/showPlayers}}
		{{/enableRealtimeMarkers}}

		{{#showDeeds}}
		<div class="block">
			<label for="option-show-villages" class="flex">
				<input type="checkbox" class="transition" id="option-show-villages" v-model="showVillages">
				<span>Show deeds</span>
			</label>
			<label for="option-show-village-borders" class="flex transition" :class="{inactive:!showVillages}">
				<input type="checkbox" class="transition" id="option-show-village-borders" v-model="showVillageBorders">
				<span>Show deed borders</span>
			</label>
		</div>
		{{/showDeeds}}

		{{#showGuardTowers}}
		<div class="block">
			<label for="option-show-towers" class="flex">
				<input type="checkbox" class="transition" id="option-show-towers" v-model="showTowers"> Show guard towers
			</label>
			<label for="option-show-tower-borders" class="flex transition" :class="{inactive:!showTowers}">
				<input type="checkbox" class="transition" id="option-show-tower-borders" v-model="showTowerBorders">
				<span>Show guard tower borders</span>
			</label>
		</div>
		{{/showGuardTowers}}

		{{#showPortals}}
		<div class="block">
			<label for="option-show-portals" class="flex">
				<input type="checkbox" class="transition" id="option-show-portals" v-model="showPortals"> Show portals
			</label>
		</div>
		{{/showPortals}}

		{{#showStructures}}
		<div class="block">
			<label for="option-show-structures" class="flex">
				<input type="checkbox" class="transition" id="option-show-structures" v-model="showStructures"> Show structures
			</label>
		</div>
		{{/showStructures}}

		<div class="block attribution">
			<p>
				<a href="https://github.com" target="_blank" rel="noreferrer noopener">WurmMapGen</a>
				powered by <a href="http://leafletjs.com" target="_blank" rel="noreferrer noopener">Leaflet</a>
			</p>
			<p>Developed and maintained by <a href="https://github.com">woubuc</a></p>
			<p id="repo-sync-label">Based on code by <a href="https://github.com">Garrett92</a></p>
		</div>
	</div>

	<div id="search" class="absolute transition z-gui" :class="{open: searchResultsOpen}">
		<input v-model="searchQuery" placeholder="Search map for deeds, players, ..." autocomplete="off">
		<div id="search-results" v-if="searchQuery !== ''">
			<div v-for="result in searchResults" :class="result.type" v-html="result.label" @click="focusMap(result.x, result.y); searchQuery = '';"></div>
		</div>
	</div>

	<div id="map" class="absolute transition z-page"></div>
</div>

<!-- Chargement masqué ordonné des moteurs CDN officiels -->
<script crossorigin="anonymous">
	(function() {
		var cdnjs = 'cdnjs.' + 'cloudflare.com';
		var jsdelivr = 'cdn.' + 'jsdelivr.net';
		var urls = [
			['https:/', cdnjs, 'ajax', 'libs', 'leaflet', '1.2.0', 'leaflet.js'].join('/'),
			'dist/Leaflet.Coordinates-0.1.5.min.js',
			['https:/', jsdelivr, 'npm', 'cookies-js@1.2.3', 'dist', 'cookies.min.js'].join('/'),
			['https:/', cdnjs, 'ajax', 'libs', 'fetch', '2.0.4', 'fetch.min.js'].join('/'),
			['https:/', cdnjs, 'ajax', 'libs', 'es6-promise', '4.2.8', 'es6-promise.auto.min.js'].join('/'),
			['https:/', cdnjs, 'ajax', 'libs', 'vue', '2.5.9', 'vue.min.js'].join('/')
		];
		
		function loadNext(index) {
			if (index >= urls.length) {
				startApplication();
				return;
			}
			var s = document.createElement('script');
			s.src = urls[index];
			s.crossOrigin = 'anonymous';
			s.onload = function() { loadNext(index + 1); };
			document.body.appendChild(s);
		}
		
		function startApplication() {
			window.WurmMapGen = {};
			var modules = ['app/util.js', 'app/markers.js', 'app/map.js', 'app/gui.js', 'app/main.js'];
			modules.forEach(function(src) {
				var s = document.createElement('script');
				s.src = src;
				s.defer = true;
				document.body.appendChild(s);
			});
		}

		loadNext(0);
	})();
</script>
</body>
</html>




